body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}
 .result{
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #dfe5e9;
 }

 .num {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border: #f4f4f4;
    border-radius: 30px;
    background-color: #007bff;
    color: white;
    
}
.row1, .row2{
    display: flex;
    justify-content: center;
}
.equal {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border: #f4f4f4;
    border-radius: 30px;
    background-color: #252b31;
    color: white;
}
.op{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border: #f4f4f4;
    border-radius: 30px;
    background-color: #186f87;
    color: white;
}
.clear {
    width:60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border-radius: 30px;

    background-color: #dc3545;
}
footer{
    align-content: center;
    align-items: end;
    color: #7b304e;
}

 